h1 {
    margin-right: 2%;
    position: static;
    text-align: center;
}

.title{
    margin: 25%;
}


.margin-aut {
    margin: auto;
}

.margin-table-top{
    border: 2px solid black;
}

.table-top{
    background-color: #9FBDBE;
    border: 2px solid black;
}